.sidebarlist {
    align-items: center;
    display:flex;
    justify-content: flex-start;
    max-width:fit-content;
    
}
.sidebarlist_title {
    font-size:15px;
    font-weight:bold;
    color:beige;
    font-family: 'Montserrat', sans-serif;
    
}
.sidebarlist:hover > * {
    color: #F4A950;
    cursor:pointer;
}
.Icon {
    font-size:20px;
    font-weight:bold;
    color:beige;
    padding-right: 10px;

}