.App {
    
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color:#161B21;
}
.Body {
    display: flex;
    /* justify-content:space-between; */
    flex-wrap: wrap;
    width:100%;
    
  

}